<div class="header">
  <a href="https://www.eurocontrol.int/" target="_blank"><img class="logo_ECTRL"
      src="static/assets/img/EUROCONTROL-logo-boxed-rgb.png"></a>
  <span>
    <h1>Aviation Data Corridor</h1>
  </span>
  <span class="spacer"></span>
  <span class="username" *ngIf="user"><b>{{user.email}}</b><br><b>Organization:</b> {{user.name}} -
    {{user.type}}<br><b>Role:</b> {{user.user_role}}</span>
  <button mat-icon-button *ngIf="user" (click)="logout()" matTooltip="Logout" matTooltipPosition="right">
    <mat-icon>logout</mat-icon>
  </button>
</div>
