<h2>Subscription management</h2>
<div class="container">
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Latest subscription policies</mat-card-title>
        </mat-card-header>
        <mat-card-content class="table_card">
          
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div>
    <button mat-raised-button color="primary">
      <mat-icon>add</mat-icon> Create new subscription policy
    </button>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>New subscription policy</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" >Subcribe</button>
          <button mat-button >Cancel</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
