/* This file contains the global styles of website*/

/* COLORS */
/* PRIMARY : #003366 */
/* SECONDARY : #00BCD4 */


html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f7f7f7;
}

.spacer {
  flex: 1 1 auto;
}

.mat-typography h1 {
  margin: 20px 0;
}

.mat-typography h2,
.mat-typography h3,
.mat-typography h4 {
  color: #003366;
  margin: 16px 0 !important;
}

h2,
.mat-typography h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0.75em 0;
  color: #003366;
}

.mat-input-invalid .mat-input-placeholder {
  color: red;
}

.mat-input-invalid .mat-input-ripple {
  background-color: red;
}

.mat-card-header-text {
  margin: 0 !important;
}

.mat-card-actions {
  text-align: right;
}

/* HEADER */
.head {
  background-color: #fff;
}

.header {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 130px;
  background-color: #fff;
}

.logo_ECTRL {
  height: 130px;
  margin-right: 20px;
}

.header h1 {
  margin: 0;
}

.username {
  margin: 20px 20px 0 0;
}

/* LOGIN */
.mat-form-field {
  display: block !important;
}

/* PUBLISHER */
.table_card {
  max-height: 250px;
  overflow: auto;
}

.table_card table {
  width: 100%;
}

/* PUBLISHER - drop list */

.tr {
  max-height: 200px;
  overflow: auto;
}

tr.detail-row {
  height: 0 !important;
}

tr.expand-row:not(.expanded-row):hover {
  background: whitesmoke;
  cursor: pointer;
}

tr.expand-row:not(.expanded-row):active {
  background: #efefef;
}

.expand-detail {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.expand-row td {
  border-bottom-width: 0;
}

.expand-row .mat-cell {
  border: none;
}

.transformations-panel {
  margin: 0 20px;
}

.transformations-table {
  cursor: grab;
}

.transformations {
  padding: 15px 15px 5px 15px;
  border: solid #3b3b3b 1px;
  margin: 5px;
  width: 100%;
  line-height: 5px;
}

#catalogue_id-panel .mat-option {
  height: 7em;
  line-height: 20px;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  padding: 4px;
}

/* ADMINISTRATOR */
.mat-column-edit_user,
.mat-column-edit_data_element,
.mat-column-edit_policy,
.mat-column-edit_policy,
.mat-column-delete_user,
.mat-column-delete_data_element {
  width: 40px;
}

.mat-column-password .mat-form-field {
  width: 120px;
  margin-right: 20px;
}

.empty_table_msg {
  text-align: center;
}
