@import '~@angular/material/theming';
@include mat-core();

/* ======== Angular material custom palettes ======== */
$adc-blue: (50: #003366,
  100: #003366,
  200: #003366,
  300: #003366,
  400: #003366,
  500: #003366,
  600: #003366,
  700: #003366,
  800: #003366,
  900: #003366,
  A100: #003366,
  A200: #003366,
  A400: #003366,
  A700: #003366,
  contrast: (50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  ));

$adc-turquoise: (50: #00BCD4,
  100: #00BCD4,
  200: #00BCD4,
  300: #00BCD4,
  400: #00BCD4,
  500: #00BCD4,
  600: #00BCD4,
  700: #00BCD4,
  800: #00BCD4,
  900: #00BCD4,
  A100: #00BCD4,
  A200: #00BCD4,
  A400: #00BCD4,
  A700: #00BCD4,
  contrast: (50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  ));

  $adc-red: (50: #c0392b,
  100: #c0392b,
  200: #c0392b,
  300: #c0392b,
  400: #c0392b,
  500: #c0392b,
  600: #c0392b,
  700: #c0392b,
  800: #c0392b,
  900: #c0392b,
  A100: #c0392b,
  A200: #c0392b,
  A400: #c0392b,
  A700: #c0392b,
  contrast: (50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  ));

/* ======== Angular material custom themes ======== */
$adc-primary: mat-palette($adc-blue);
$adc-accent: mat-palette($adc-turquoise, 100, 500, A100);
$adc-warn: mat-palette($adc-red, 500);

$adc-theme: mat-light-theme($adc-primary, $adc-accent, $adc-warn);

@include angular-material-theme($adc-theme);
